.read-more-target,
.read-more-trigger_opened {
  display: none;
}
.read-more-state:checked ~ #read-more-wrap .read-more-target,
.read-more-state:checked ~ .read-more-trigger_opened {
  display: block;
}
.read-more-state:checked ~ .read-more-trigger_closed {
  display: none;
}