.square-box {
  max-width: 95%;
  min-width: 600px;
  

}
.job-card {
  border: 1px solid #242424;
  padding: 2px;
  align-items: center;
}
.company-name {
  font-size: 17.5px;
  
  word-spacing: 0.75;
  border-radius: 5px;
  display: inline-block;
 font-weight: 600px;
}
.skill-set {
  margin: 0 auto;
  word-spacing: 0.75;
  border-radius: 5px;
  font-size: 14.5px;
  transition:".3s";
  cursor: pointer
  ;
  font-weight: 600;
color: #242424;
 

}
.job-card:hover{
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  border-right: 6px solid #242424;
  transition: .3s;
}
.filter{
  border: 1px solid #242424;
  height: 15vh;
  padding: 15px;
  background: whitesmoke;
}

.job-card-deck {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}
.job-card {
  height: max-content;
  border: none;
  box-shadow: 6px 6px 10px rgb(222, 222, 222);
  padding: 1rem;
  position: relative;
}
.job-date {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.duration > span:first-child, .typeofwork > span:first-child, .worklocation > span:first-child, .language > span:first-child, .experience > span:first-child   {
  font-weight: bold;
  font-size: 1.1rem;
}
.job-content {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}


@media screen and (max-width: 1200px) {
  .job-card-deck {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 464px){
  .job-content {
    grid-template-columns: auto;
  }
}